
.trans-area {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 20px;
}

.trans-form {
    // Reset default styles
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-apperance: none;

    // Styles
    font-size: 2rem;
    color: #333;
    letter-spacing: 6px;
    height: $form-height;
    width: 417px;
    background: rgba(89, 89, 89, 0.08);
    border-left: solid 20px rgba(0,0,0,0);
    border-radius: 5px;
}