// Card colors

.card-color-normal {
  background: #fff;
  * {
    color: #333 !important;
  }
}

.card-color-js {
  background: #F5F7FA !important;
}

.lg-card-title-js,
.lg-card-text-js {
  color: #333 !important;
}
.card-color-python {
  background: #19B5FE !important;
}
.card-color-css {
  background: #4FC1E9 !important;
}

.card-color-html {
  background: #FC6E51 !important;
}

.card-color-php {
  background: #AC92EC !important;
}

.card-color-swift {
  background: #FF9500 !important;
}

.card-color-cmd {
  background: #000;
}

.card-color-scala {
  background: #48CFAD;
}

.card-color-kotlin {
  background: #ED5565;
}

.card-color-jq {
  background: #4A89DC;
}

.card-color-go {
  background: #F3C13A;
}

.card-color-django {
  background: #03A678;
}

.card-color-rails {
  background: #F62459;
}

.card-color-kotlin {
  background: #F62459;
}
.card-color-play {
  background: #8CC152;
}

.card-color-larabel {
  background: #EE4F45;
}

.card-color-ios {
  background: #22A7F0;
}

.card-color-git {
  background: #19B5FE;
}

.card-color-ruby {
  background: #1355ff;
}

.card-color-void {
  background: #fff;
}
