
.visible {
    display: none;
}

.invisible {
    display: none;
}


.to {
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
}



/* INDEX */
.index_button_area {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    width: 40vw;
    height: 290px;
    right: 0;
}
