
.visible {
    display: none;
}

.invisible {
    display: none;
}


.to {
    position: absolute;
    top: 0;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
}



/* INDEX */
.index_button_area {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
    width: 40vw;
    height: 180px;
    right: 0;
}
@media screen and (max-width: 600px) {
    .index_button_area {
        width: 20vw;
        height: 180px;
        right: 0;
    }
}


/* Pairing */
.pairing_button_area {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0px;
    margin: auto;
}