{% extends '../templates/base.html' %}
{% block content %}
<h1>Your Card</h1>

<div class="container">
  <div class="col-md-12">
    <div class="sc_card">
      <h4 class="sc_card_name">SFCoin Virtual Card</h1>
      <h2 class="sc_title account_number_title">Account Number</h2>
      <p class="sc_account_number">6741-5129-6912-14</p>

      <h2 class="sc_title name_title">NAME</h2>
      <p class="sc_name">SHOTA SHIMAZU</p>
      <h1 class="sc_remaining">1026 SFCoin</h1>
    </div>
  </div>
</div>

{% endblock content %}
