{% extends '../templates/base.html' %}
{% block content %}

<div class="container">
  <div class="col-md-6 sc_card_area">
    <div class="sc_card">
      <h4 class="sc_card_name">SFCoin Virtual Card</h1>
      <h2 class="sc_title account_number_title">Account Number</h2>
      <p class="sc_account_number">6741-5129-6912-14</p>

      <h2 class="sc_title name_title">NAME</h2>
      <p class="sc_name">SHOTA SHIMAZU</p>
      <h1 class="sc_remaining">1026 <span class="sc_unit">SFCoin</span></h1>
    </div>
  </div>

  <div class="col-md-6">
    <a class="button round" href="/logout/">Logout</a>
    <div id="reader" style="width:300px;height:250px">
    </div>
  </div>
</div>

{% endblock content %}
