{% extends '../templates/base.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 left-col">
      <section class="lg-card lg-card-heading">
        <div class="lg-card-content">
          <h1 class="lg-card-title-js lg-card-title">Session Manager</h1>
        </div>
        <span class="line line-yellow"></span>
      </section>
    </div>
  </div>

  <div class="row">
    <p>{{ session_pin }}</p>
  </div>

  <div class="row">
    <div class="col-12">
      <a class="button round" href="/logout/">End Session</a>
    </div>
  </div>
</div>

<script>
  window.onbeforeunload = function(e) {
    e.returnValue = "ここでページを閉じるとゲームのセッションが無効化されます。よろしいですか？";
  }
</script>

{% endblock content %}
