{% extends '../base.html' %}
{% block content %}
<div class="covering-jubotoron" id="top_jumbotron">
  <div class="top-bar">
    <h1><a class="add-link" href="/">SFCOIN</a></h1>
  </div>
  <div class="covering-contents" id="login-screen">
    <div class="login-card signup">
      <h1>SIGNUP</h1>
      {% if error == "empty" %}
        <p class="msg-error">全ての項目を入力してください。</p>
      {% elif error == "doubleEmail" %}
        <p class="msg-error">メールアドレスが既に登録されています。</p>
      {% elif error == "doubleUser" %}
        <p class="msg-error">ユーザー名は既に使われています。</p>
      {% elif error == "overflow" %}
        <p class="msg-error">150文字以下にしてください。</p>
      {% elif error == "invaildEmail" %}
        <p class="msg-error">不正なメールアドレスです。</p>
      {% elif error == "invalidPass" %}
        <p class="msg-error">パスワードは8桁以上設定してください。</p>
      {% elif error == "notAgree" %}
        <p class="msg-error">規約に同意できない場合はご利用いただけません。</p>
      {% else %}
        {% if form.errors %}
          <p class="msg-error">登録に失敗しました。もう一度試してください。</p>
        {% else %}
          <p>情報を入力して登録してください。</p>
        {% endif %}
      {% endif %}
      <form action="{% url 'signup' %}" method="post" role="form">{% csrf_token %}
        <p class="mail">
          <label for="id_email"><input class="form" type="email" name="email" placeholder="Eメール" autofocus required/>
        </p>
        <p class="user">
          <label for="id_username"><input class="form" type="username" name="username" placeholder="ユーザー名" required/>
        </p>
        <p class="pass">
          <label for="id_password"><input class="form" type="password" name="password" placeholder="パスワード" required/>
        </p>
        <p class="agree">
          <label class="label-checkbox">
            <input type="checkbox" name="checkbox"/>
            <span class="lever"><a href="/provides/terms/">利用規約</a>に同意する</span>
          </label>
        </p>
        <p class="submit">
	        <button type="submit" class="button round">無料登録</button>
        </p>
        <input name="next" type="hidden" value="{{ next }}"/>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
