@import url('https://fonts.googleapis.com/css?family=Iceland');


.sc_card {
  background: red;
  height: 290px;
  width: 500px;
  border-radius: 8px;
}

.sc_account_name {
  color: #fff;
  font-size: 1.5rem;
}

.sc_name {
  font-family: 'Iceland', cursive;
  font-size: 3rem;
  color: #fff;
  letter-spacing: 6px;
}
